body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 200;
}

section {
	font-size: 150%;
}
section.padded {
	padding-top: 3em;
	padding-bottom: 3em;
}
section.light {
	background-color: #f3f3f3;
}
section.dark {
	background-color: black;
	color: white;
}

h2 {
	font-family: "Roboto Slab", serif;
	font-size: 125%;
}

a:hover {
	text-decoration: none;
}

.no-top-margin { margin-top: 0; }

.navbar-default {
	background: rgba(0,0,0,0);
	border: none;
	box-shadow: none;
	min-height: 60px;
	padding-top: 10px;
	-webkit-transition: background 0.75s;
	transition: background 0.75s;
}

.navbar-scrolled {
	background: rgba(10,60,90,0.8);
}

.navbar-default .navbar-brand {
	height: 40px;
	width: 96px;
	background: url(/img/logo.png) center center no-repeat;
	background-size: 98px 40px;
	color: transparent;
	overflow: hidden;
	text-indent: -999em;
}

.nav > li {
	padding: 0 15px;
}
.nav > li > a {
	padding: 10px 0;
}

.navbar-default .navbar-nav > li > a {
	position: relative;
	color: white;
	font-weight: 400;
	opacity: 0.8;
	text-shadow: none;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	border-bottom: white 1px solid;
	color: white;
	opacity: 1;
	transition: border 0.1s, opacity 0.1s;
}
.navbar-default .navbar-nav > .active > a {
	background: transparent;
	box-shadow: none;
	color: white;
}
.navbar-default .navbar-nav > .active > a::before {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 10px;
	border-bottom: white 1px solid;
	content: "";
}

.splash {
	position: relative;
	background: #5bf;
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;
}

.splash::before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	background-image: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,0.25));
	content: "";
	display: block;
}

.splash h1 {
	font-family: "Roboto Slab", serif;
	font-size: 3em;
	font-weight: 700;
	margin: 0.5em 0 0.5em 0;
}
.splash p {
	font-family: "Roboto Slab", serif;
	font-size: 120%;
	margin: 0 0 0.5em;
}

.splash .ipad {
	position: relative;
	background: url(/img/ipad-white-landscape.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 69%;
}
.splash .ipad img {
	position: absolute;
	top: 5.6%;
	left: 9.476%;
	width: 81.54%;
}

.feature-circle {
	position: relative;
	background: #eee;
	background-position: center center;
	background-size: cover;
	border-radius: 100%;
	margin: 0 auto;
	width: 50%;
}
.feature-circle span {
	display: block;
	padding-top: 100%;
}

.iphone {
	position: relative;
	background: url(/img/iphone-black-landscape.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 50%;
}
.iphone img {
	position: absolute;
	top: 7%;
	left: 11.5%;
	width: 77%;
}

section.faq {
	background-color: #3c7eaa;
	color: white;
}

.faq dt {
	cursor: pointer;
	font-weight: normal;
	margin-top: 0.5em;
}
.faq dd {
	height: 0;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in;
}
.faq dt.active + dd {
	height: auto;
	max-height: 10em;
}
.faq a {
	border-bottom: white 1px dotted;
	color: white;
}
.faq a:hover {
	border-bottom-style: solid;
}